* {
  box-sizing: border-box;
}

:root {
  --main-color: #b755dd;
  --second-color: #55e9f1;
  --text-color: #444;
  --gradient1: linear-gradient(350deg, rgba(183,85,221,1) 10%, rgba(85,233,241,1) 100%);
  --gradient12: linear-gradient(350deg, rgba(183,85,221,0.9) 10%, rgba(85,233,241,0.9) 100%);
  --gradient2: linear-gradient(350deg, rgba(183,85,221,1) 10%, rgba(85,233,241,1) 100%);
}

.staggered-list-content {
  max-width: 400px;
  margin: 2rem auto;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
}
.list li + li {
  margin-top: 1rem;
}
.listItem {
  cursor: pointer;
  background: var(--gradient1);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  transition: background 0.9s ease;
}
.listItem:hover {
  cursor: pointer;
  background: var(--gradient12);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background-color: #ffffff;
  margin-right: 2rem;
}
.listItem.expanded .avatar {
  width: 8rem;
  height: 8rem;
  margin-right: 0;
  margin-bottom: 1rem;
}

.line {
  background-color: #ffffff;
  width: 14rem;
  border-radius: 6px;
  height: 0.5rem;
}
.line:nth-of-type(2) {
  width: 11rem;
}
.line:nth-of-type(3) {
  width: 8rem;
}
.line + .line {
  margin-top: 1rem;
}

.listItem.expanded .description {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.listItem.expanded {
  background: var(--gradient2);
  padding: 2rem;
  flex-direction: column;

  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.additional-content {
  width: 100%;
  margin-top: 2rem;
  display: none;
}
.listItem.expanded .additional-content {
  display: block;
}
.chunk {
  border-radius: 3px;
  background-color: #ffffff;
  height: 5rem;
  opacity: 0;
}
.listItem.expanded .chunk {
  opacity: 1;
}
.chunk + .chunk {
  margin-top: 1rem;
}


/* CSS стили для кнопки в виде крестика */
.close-button {
  position: absolute;
  top: 10px; /* отступ от верхнего края */
  right: 10px; /* отступ от правого края */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999; /* на случай, если есть другие элементы с позиционированием */
  color: #000; /* цвет крестика */
}